# Intermediate SQL Test Project

For this project we will use a SQLite database called chinook.db, which contains information about a fictional digital music shop.

The goal is to answer some business questions. For example, selecting 3 albums from a list of 4 to add to the store based on the information available in the database related to the artists that own those albums.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

In [2]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table'),
 ('alb_inv_track', 'view')]

In [3]:
%%sql
SELECT
    *
FROM invoice
LIMIT 5;

Done.

[(1, 18, '2017-01-03 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 15.84),
 (2, 30, '2017-01-03 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 9.9),
 (3, 40, '2017-01-05 00:00:00', '8, Rue Hanovre', 'Paris', 'None', 'France', '75002', 1.98),
 (4, 18, '2017-01-06 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 7.92),
 (5, 27, '2017-01-07 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 16.83)]

#### *"We were asked to select 3 albums from a group of 4 to add to the store. We only have information of the artist and the genre of those albums. Based on that we have to select the albums we will add to the store. We were asked to make this analysis based on USA sales."*

#### *"The 4 albums genres are: Hip-Hop, Punk, Pop, Blues."*

In [4]:
%%sql
WITH
    invoice_track AS
    (
    SELECT 
        inv.billing_country AS country,
        inv.invoice_id invoice_id,
        t.genre_id
    FROM track t
    INNER JOIN invoice_line inv_l ON t.track_id = inv_l.track_id
    INNER JOIN invoice inv ON inv_l.invoice_id = inv.invoice_id
    WHERE inv.billing_country = "USA"
    ),
    total_USA AS
    (
    SELECT 
        COUNT(*)
    FROM track t
    INNER JOIN invoice_line inv_l ON t.track_id = inv_l.track_id
    INNER JOIN invoice inv ON inv_l.invoice_id = inv.invoice_id
    WHERE inv.billing_country = "USA"
    )

    
SELECT 
    it.country country,
    g.name genre,
    COUNT(it.invoice_id) AS "Tracks per Genre",
    (SELECT * FROM total_USA) "Total Tracks sold USA",
    ROUND((CAST(COUNT(it.invoice_id) AS FLOAT) / CAST((SELECT * FROM total_USA) AS FLOAT)) * 100, 0) AS "Percentage Sold in USA per Genre"
FROM invoice_track it
INNER JOIN genre g ON it.genre_id = g.genre_id
GROUP BY genre
ORDER BY "Percentage Sold in USA per Genre" DESC;

Done.

[('USA', 'Rock', 561, 1051, 53.0),
 ('USA', 'Alternative & Punk', 130, 1051, 12.0),
 ('USA', 'Metal', 124, 1051, 12.0),
 ('USA', 'R&B/Soul', 53, 1051, 5.0),
 ('USA', 'Alternative', 35, 1051, 3.0),
 ('USA', 'Blues', 36, 1051, 3.0),
 ('USA', 'Hip Hop/Rap', 20, 1051, 2.0),
 ('USA', 'Latin', 22, 1051, 2.0),
 ('USA', 'Pop', 22, 1051, 2.0),
 ('USA', 'Easy Listening', 13, 1051, 1.0),
 ('USA', 'Jazz', 14, 1051, 1.0),
 ('USA', 'Reggae', 6, 1051, 1.0),
 ('USA', 'Classical', 4, 1051, 0.0),
 ('USA', 'Electronica/Dance', 5, 1051, 0.0),
 ('USA', 'Heavy Metal', 3, 1051, 0.0),
 ('USA', 'Soundtrack', 2, 1051, 0.0),
 ('USA', 'TV Shows', 1, 1051, 0.0)]

Here are the top genres of music sold in USA.

Taking in cosideration the genres of the albums the store is trying to add, the order of priority should be: Punk, Blues, Hip-Hop, Pop.

The difference in sales between Hip-Hop and Pop is minimal, but still Hip-Hop have 2 more sales in USA.

#### *"We were asked to analyze the performance of the employees in sales."* 

#### *"The database contain information of the ammount of money spent by customer, and since each customer is assigned to a sales support employee, we can use that information to make a quick analysis."*

In [5]:
%%sql
WITH
    cust_inv AS
    (
    SELECT 
        cust.customer_id,
        cust.support_rep_id,
        SUM(inv.total) AS "total_sales_per_customer (dollars)"
    FROM customer cust
    INNER JOIN invoice inv ON cust.customer_id = inv.customer_id
    GROUP BY cust.customer_id
    )
    
SELECT 
    emp.first_name || " " || emp.last_name employee_name,
    emp.title employee_title,
    ROUND(SUM(ci."total_sales_per_customer (dollars)"), 2) AS "total_sales_per_employee (Dollars)"
FROM employee emp
LEFT JOIN cust_inv ci ON ci.support_rep_id = emp.employee_id
GROUP BY employee_name
ORDER BY employee_title;

Done.

[('Andrew Adams', 'General Manager', None),
 ('Michael Mitchell', 'IT Manager', None),
 ('Laura Callahan', 'IT Staff', None),
 ('Robert King', 'IT Staff', None),
 ('Nancy Edwards', 'Sales Manager', None),
 ('Jane Peacock', 'Sales Support Agent', 1731.51),
 ('Margaret Park', 'Sales Support Agent', 1584.0),
 ('Steve Johnson', 'Sales Support Agent', 1393.92)]

We used the information from 3 tables of the database to obtain our analysis results.

When we checked the SUM of money spent by customers per each eamployee, we notice that only 3 employees have some kind of value, while the rest do not have sales regsitered.

We decided then to add the title of each employee, and then we noticed that the employees that do not have any sales ammounts, are all in non-sales positions, like management or IT.

Taking that into account and checking the ammount of sales of the 3 Sales Support Agents, we can see that some seems to have better performance that others, but do not seems to be a huge difference, waht make us think that the performance of those 3 employees is similar in this aspect.

In [6]:
%%sql
SELECT DISTINCT employee_id
FROM employee;

Done.

[(1,), (2,), (6,), (3,), (4,), (5,), (7,), (8,)]

Just in case we verify the ammount of employees and make sure none was left out of the analysis.

#### *"We were asked to analyze the sale data for customers from each country, and provide information like: total number of customers per country, total value of sales per country, average value of sales per customer from each country, and average order value."*

In [7]:
%%sql
WITH cust_country AS
    (
     SELECT
       CASE
           WHEN (
                 SELECT count(*)
                 FROM customer
                 WHERE country = cust.country
                ) <= 1 THEN "Other"
           ELSE cust.country
       END AS country,
       cust.customer_id customer_id,
       inv_l.unit_price unit_price,
       inv_l.quantity quantity,
       inv_l.invoice_id
     FROM invoice_line inv_l
     INNER JOIN invoice inv ON inv.invoice_id = inv_l.invoice_id
     INNER JOIN customer cust ON cust.customer_id = inv.customer_id
    )
    
SELECT  
    cc.country,
    COUNT(DISTINCT cc.customer_id) AS "Total Number of Customers",
    ROUND(SUM(cc.unit_price), 2) AS "Total Value of Sales",
    ROUND(SUM(cc.unit_price) / COUNT(DISTINCT cc.customer_id), 2) AS "Average Value of Sales per Customer",
    ROUND(SUM(cc.unit_price) / COUNT(DISTINCT cc.invoice_id), 2) AS "Average Order Value"
FROM (
     SELECT
        *,
        CASE
            WHEN cc.country = "Other" THEN 1
            ELSE 0
        END AS sort
     FROM cust_country cc
    ) cc
GROUP BY cc.country
ORDER BY sort ASC, "Total Value of Sales" DESC;

Done.

[('USA', 13, 1040.49, 80.04, 7.94),
 ('Canada', 8, 535.59, 66.95, 7.05),
 ('Brazil', 5, 427.68, 85.54, 7.01),
 ('France', 5, 389.07, 77.81, 7.78),
 ('Germany', 4, 334.62, 83.66, 8.16),
 ('Czech Republic', 2, 273.24, 136.62, 9.11),
 ('United Kingdom', 3, 245.52, 81.84, 8.77),
 ('Portugal', 2, 185.13, 92.57, 6.38),
 ('India', 2, 183.15, 91.58, 8.72),
 ('Other', 15, 1094.94, 73.0, 7.45)]

Using 3 different tables, we were able to gather the information requested.

As we can see, USA is the country with the highest ammount of spent money in the store, and that is most likely related to the higher ammount of customers from that country.

#### *"The shop want to know if the customers tend to buy music track individually or a whole set of an album."*

#### *"This information would help the shop to know if is better to buy from record companies only the most famous tracks of each album, or buy the whole album."*

In [8]:
%%sql
CREATE VIEW alb_inv_track AS
    SELECT 
        inv_l.invoice_id,
        t.album_id,
        t.track_id
    FROM track t
    INNER JOIN invoice_line inv_l ON t.track_id = inv_l.track_id
    INNER JOIN invoice inv ON inv.invoice_id = inv_l.invoice_id
    WHERE 
        (
        SELECT COUNT(*)
        FROM track
        WHERE album_id = t.album_id
        ) > 3
    GROUP BY inv_l.invoice_id
    ORDER BY inv_l.invoice_id;

(sqlite3.OperationalError) table alb_inv_track already exists
[SQL: CREATE VIEW alb_inv_track AS
    SELECT
        inv_l.invoice_id,
        t.album_id,
        t.track_id
    FROM track t
    INNER JOIN invoice_line inv_l ON t.track_id = inv_l.track_id
    INNER JOIN invoice inv ON inv.invoice_id = inv_l.invoice_id
    WHERE
        (
        SELECT COUNT(*)
        FROM track
        WHERE album_id = t.album_id
        ) > 3
    GROUP BY inv_l.invoice_id
    ORDER BY inv_l.invoice_id;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

Here we created a view that we will use more than once. In this view we selected only the albums that have more than 3 tracks.

In [9]:
%%sql
SELECT *
FROM alb_inv_track;

Done.

[(1, 91, 1173),
 (2, 215, 2651),
 (3, 214, 2646),
 (4, 203, 2514),
 (5, 163, 2002),
 (6, 5, 30),
 (7, 6, 42),
 (8, 125, 1560),
 (9, 20, 196),
 (10, 257, 3290),
 (11, 115, 1419),
 (12, 10, 92),
 (13, 206, 2553),
 (14, 42, 541),
 (15, 65, 807),
 (16, 4, 21),
 (17, 115, 1419),
 (18, 221, 2736),
 (19, 203, 2510),
 (20, 257, 3297),
 (21, 207, 2561),
 (22, 33, 383),
 (23, 1, 14),
 (24, 90, 1157),
 (25, 119, 1477),
 (26, 10, 85),
 (27, 246, 3105),
 (28, 74, 932),
 (29, 39, 479),
 (30, 321, 3464),
 (31, 221, 2750),
 (32, 6, 50),
 (33, 218, 2697),
 (34, 49, 610),
 (35, 322, 3475),
 (36, 91, 1168),
 (37, 145, 1763),
 (38, 119, 1472),
 (39, 203, 2519),
 (40, 183, 2237),
 (41, 61, 773),
 (42, 16, 153),
 (43, 163, 1997),
 (44, 242, 3063),
 (45, 150, 1837),
 (46, 214, 2649),
 (47, 1, 8),
 (48, 7, 58),
 (49, 15, 146),
 (50, 321, 3455),
 (51, 5, 34),
 (52, 216, 2675),
 (53, 151, 1846),
 (54, 146, 1790),
 (55, 39, 481),
 (56, 185, 2270),
 (57, 233, 2948),
 (58, 144, 1745),
 (59, 271, 3390),
 (60, 6, 46),
 (61, 212, 2620),
 (62, 217, 2680),
 (63, 1, 8),
 (64, 6, 50),
 (65, 42, 539),
 (66, 191, 2334),
 (67, 69, 861),
 (68, 163, 1990),
 (69, 10, 98),
 (70, 189, 2307),
 (71, 185, 2270),
 (72, 136, 1658),
 (73, 195, 2405),
 (74, 244, 3081),
 (75, 96, 1233),
 (76, 82, 1032),
 (77, 4, 22),
 (78, 238, 3006),
 (79, 157, 1915),
 (80, 271, 3400),
 (81, 243, 3079),
 (82, 7, 54),
 (83, 237, 2998),
 (84, 321, 3466),
 (85, 162, 1972),
 (86, 188, 2291),
 (87, 88, 1129),
 (88, 211, 2597),
 (89, 156, 1900),
 (90, 207, 2564),
 (91, 149, 1817),
 (92, 115, 1433),
 (93, 82, 1023),
 (94, 211, 2595),
 (95, 191, 2339),
 (96, 37, 453),
 (97, 37, 454),
 (98, 185, 2255),
 (99, 211, 2608),
 (100, 120, 1493),
 (101, 185, 2269),
 (102, 206, 2549),
 (103, 82, 1029),
 (104, 122, 1508),
 (105, 112, 1387),
 (106, 39, 488),
 (107, 88, 1132),
 (108, 221, 2737),
 (109, 194, 2381),
 (110, 183, 2234),
 (111, 6, 48),
 (112, 120, 1495),
 (113, 244, 3087),
 (114, 120, 1495),
 (115, 9, 84),
 (116, 185, 2254),
 (117, 49, 614),
 (118, 246, 3111),
 (119, 203, 2508),
 (120, 192, 2350),
 (121, 5, 32),
 (122, 93, 1195),
 (123, 164, 2014),
 (124, 149, 1816),
 (125, 20, 198),
 (126, 203, 2510),
 (127, 120, 1492),
 (128, 67, 836),
 (129, 127, 1580),
 (130, 178, 2160),
 (131, 136, 1655),
 (132, 221, 2736),
 (133, 35, 410),
 (134, 23, 226),
 (135, 95, 1221),
 (136, 91, 1166),
 (137, 6, 43),
 (138, 186, 2281),
 (139, 214, 2642),
 (140, 108, 1356),
 (141, 213, 2638),
 (142, 5, 37),
 (143, 211, 2601),
 (144, 17, 158),
 (145, 255, 3255),
 (146, 119, 1478),
 (147, 206, 2544),
 (148, 321, 3455),
 (149, 90, 1153),
 (150, 82, 1021),
 (151, 147, 1796),
 (152, 118, 1462),
 (153, 196, 2419),
 (154, 214, 2649),
 (155, 125, 1546),
 (156, 155, 1892),
 (158, 92, 1175),
 (159, 242, 3055),
 (160, 196, 2419),
 (161, 321, 3465),
 (162, 258, 3301),
 (163, 215, 2653),
 (164, 73, 913),
 (165, 89, 1143),
 (166, 214, 2644),
 (167, 160, 1951),
 (168, 7, 58),
 (169, 321, 3460),
 (170, 185, 2268),
 (171, 119, 1478),
 (172, 224, 2799),
 (173, 188, 2295),
 (174, 37, 452),
 (175, 145, 1772),
 (176, 73, 1114),
 (177, 256, 3277),
 (179, 73, 1118),
 (180, 90, 1150),
 (181, 125, 1553),
 (182, 157, 1907),
 (183, 83, 1056),
 (185, 207, 2558),
 (186, 257, 3293),
 (187, 182, 2214),
 (188, 118, 1465),
 (189, 214, 2644),
 (190, 67, 833),
 (191, 120, 1484),
 (192, 214, 2639),
 (193, 207, 2559),
 (194, 119, 1476),
 (195, 210, 2590),
 (196, 105, 1334),
 (197, 216, 2664),
 (198, 185, 2256),
 (199, 194, 2389),
 (200, 4, 22),
 (201, 257, 3299),
 (202, 211, 2592),
 (203, 4, 22),
 (204, 163, 1995),
 (205, 150, 1838),
 (206, 89, 1134),
 (207, 88, 1123),
 (208, 18, 172),
 (209, 188, 2287),
 (210, 63, 788),
 (211, 125, 1553),
 (212, 88, 1132),
 (213, 186, 2281),
 (214, 88, 1130),
 (215, 81, 1019),
 (216, 211, 2600),
 (217, 207, 2564),
 (218, 164, 2005),
 (219, 72, 897),
 (220, 144, 1754),
 (221, 257, 3291),
 (222, 216, 2673),
 (223, 213, 2638),
 (224, 150, 1834),
 (225, 82, 1025),
 (226, 321, 3463),
 (227, 39, 468),
 (228, 54, 691),
 (229, 67, 841),
 (230, 4, 22),
 (231, 16, 154),
 (232, 1, 6),
 (233, 216, 2671),
 (234, 207, 2562),
 (235, 181, 2199),
 (236, 257, 3294),
 (237, 194, 2390),
 (238, 186, 2281),
 (239, 185, 2270),
 (240, 164, 2005),
 (241, 188, 2289),
 (242, 118, 1456),
 (243, 246, 3113),
 (244, 214, 2648),
 (245, 203, 2509),
 (246, 207, 2559),
 (247, 214, 2649),
 (248, 67, 833),
 (249, 160, 1947),
 (250, 241, 3045),
 (251, 7, 57),
 (252, 1, 1),
 (253, 88, 1132),
 (254, 125, 1557),
 (255, 258, 3307),
 (256, 126, 1570),
 (257, 188, 2295),
 (258, 163, 1990),
 (259, 244, 3084),
 (260, 215, 2653),
 (261, 88, 1122),
 (262, 9, 84),
 (263, 194, 2385),
 (264, 92, 1187),
 (265, 185, 2255),
 (266, 91, 1170),
 (267, 241, 3043),
 (268, 58, 749),
 (269, 141, 3144),
 (270, 6, 46),
 (271, 186, 2281),
 (272, 211, 2601),
 (273, 120, 1495),
 (274, 218, 2693),
 (275, 271, 3398),
 (276, 258, 3318),
 (277, 197, 2421),
 (278, 119, 1468),
 (279, 214, 2647),
 (280, 244, 3091),
 (281, 157, 1915),
 (282, 72, 908),
 (283, 91, 1160),
 (284, 20, 204),
 (285, 183, 2231),
 (286, 234, 2958),
 (287, 180, 2183),
 (288, 321, 3459),
 (289, 88, 1129),
 (290, 37, 438),
 (291, 206, 2547),
 (292, 207, 2564),
 (293, 146, 1783),
 (294, 16, 150),
 (295, 120, 1491),
 (296, 119, 1478),
 (297, 182, 2207),
 (298, 5, 34),
 (299, 108, 1361),
 (300, 7, 62),
 (301, 183, 2237),
 (302, 211, 2592),
 (303, 6, 43),
 (304, 120, 1495),
 (305, 180, 2192),
 (306, 79, 989),
 (307, 6, 38),
 (308, 235, 2974),
 (309, 91, 1165),
 (310, 203, 2521),
 (311, 189, 2303),
 (312, 195, 2404),
 (313, 206, 2548),
 (314, 5, 31),
 (315, 118, 1462),
 (316, 83, 1050),
 (317, 257, 3299),
 (318, 217, 2678),
 (319, 7, 62),
 (320, 259, 3335),
 (321, 211, 2607),
 (322, 85, 1074),
 (323, 119, 1476),
 (324, 17, 158),
 (325, 215, 2656),
 (326, 42, 529),
 (327, 64, 803),
 (328, 121, 1502),
 (329, 257, 3299),
 (330, 89, 1145),
 (331, 5, 36),
 (332, 190, 2322),
 (333, 178, 2151),
 (334, 160, 1956),
 (335, 195, 2405),
 (336, 193, 2374),
 (337, 121, 1496),
 (338, 245, 3100),
 (339, 112, 1387),
 (340, 155, 1891),
 (341, 123, 1531),
 (342, 182, 2208),
 (343, 162, 1979),
 (344, 120, 1495),
 (345, 248, 3150),
 (346, 16, 151),
 (347, 125, 1554),
 (348, 47, 593),
 (349, 141, 1712),
 (350, 214, 2641),
 (351, 222, 2757),
 (352, 198, 2433),
 (353, 119, 1470),
 (354, 116, 1437),
 (355, 207, 2560),
 (356, 39, 486),
 (357, 81, 1012),
 (358, 121, 1501),
 (359, 125, 1547),
 (360, 193, 2367),
 (361, 163, 1991),
 (362, 55, 714),
 (363, 36, 433),
 (364, 21, 222),
 (365, 17, 157),
 (366, 66, 818),
 (367, 16, 154),
 (368, 76, 952),
 (369, 41, 514),
 (370, 73, 922),
 (371, 196, 2410),
 (372, 42, 542),
 (373, 14, 139),
 (374, 39, 469),
 (375, 100, 1276),
 (376, 55, 706),
 (377, 211, 2594),
 (378, 203, 2509),
 (379, 206, 2553),
 (380, 163, 1999),
 (381, 89, 1145),
 (382, 189, 2307),
 (383, 89, 1140),
 (384, 183, 2236),
 (385, 16, 155),
 (386, 116, 1435),
 (387, 213, 2621),
 (388, 80, 1008),
 (389, 243, 3080),
 (390, 193, 2371),
 (391, 110, 1372),
 (392, 152, 1860),
 (393, 321, 3463),
 (394, 217, 2683),
 (395, 255, 3257),
 (396, 322, 3474),
 (397, 146, 1778),
 (398, 203, 2522),
 (399, 90, 1157),
 (400, 247, 3127),
 (401, 256, 3282),
 (402, 140, 1696),
 (403, 181, 2197),
 (404, 92, 1187),
 (405, 212, 2615),
 (406, 183, 2235),
 (407, 182, 2215),
 (408, 83, 1043),
 (409, 216, 2673),
 (410, 14, 139),
 (411, 92, 1180),
 (412, 196, 2410),
 (413, 218, 2704),
 (414, 1, 14),
 (415, 214, 2640),
 (416, 83, 1048),
 (417, 36, 422),
 (418, 222, 2755),
 (419, 203, 2509),
 (420, 80, 1008),
 (421, 79, 998),
 (422, 9, 82),
 (423, 1, 7),
 (424, 120, 1495),
 (425, 120, 1483),
 (426, 207, 2558),
 (427, 5, 37),
 (428, 128, 1591),
 (429, 270, 3377),
 (430, 214, 2649),
 (431, 116, 1441),
 (432, 10, 94),
 (433, 46, 579),
 (434, 257, 3292),
 (435, 72, 895),
 (436, 195, 2392),
 (437, 136, 1657),
 (438, 151, 1849),
 (439, 115, 1424),
 (440, 214, 2648),
 (441, 85, 1079),
 (442, 175, 2113),
 (443, 216, 2664),
 (444, 183, 2237),
 (445, 174, 2108),
 (446, 1, 14),
 (447, 188, 2295),
 (448, 207, 2554),
 (449, 120, 1495),
 (450, 46, 573),
 (451, 241, 3044),
 (452, 214, 2645),
 (453, 73, 911),
 (454, 163, 2002),
 (455, 132, 1622),
 (456, 233, 2943),
 (457, 126, 1576),
 (458, 322, 3473),
 (459, 163, 2001),
 (460, 141, 2437),
 (461, 241, 3049),
 (462, 37, 446),
 (463, 6, 50),
 (464, 6, 38),
 (465, 16, 155),
 (466, 213, 2634),
 (467, 39, 477),
 (468, 178, 2164),
 (469, 183, 2232),
 (470, 10, 94),
 (471, 193, 2368),
 (472, 214, 2649),
 (473, 218, 2690),
 (474, 67, 831),
 (475, 183, 2237),
 (476, 65, 810),
 (477, 54, 682),
 (478, 120, 1495),
 (479, 36, 435),
 (480, 185, 2264),
 (481, 61, 778),
 (482, 215, 2651),
 (483, 270, 3387),
 (484, 188, 2292),
 (485, 116, 1443),
 (486, 246, 3115),
 (487, 162, 1978),
 (488, 157, 1915),
 (489, 195, 2395),
 (490, 116, 1442),
 (491, 241, 3050),
 (492, 42, 532),
 (493, 67, 836),
 (494, 257, 3299),
 (495, 81, 1019),
 (496, 1, 14),
 (497, 89, 1141),
 (498, 146, 1780),
 (499, 81, 1019),
 (500, 39, 487),
 (501, 119, 1478),
 (502, 183, 2235),
 (503, 38, 459),
 (504, 259, 3333),
 (506, 120, 1495),
 (507, 9, 82),
 (508, 322, 3473),
 (509, 203, 2515),
 (510, 188, 2295),
 (511, 16, 155),
 (512, 65, 815),
 (513, 83, 1040),
 (514, 92, 1176),
 (515, 218, 2696),
 (516, 83, 1039),
 (517, 37, 445),
 (518, 125, 1551),
 (519, 67, 834),
 (520, 4, 16),
 (521, 79, 992),
 (522, 246, 3112),
 (523, 321, 3458),
 (524, 73, 920),
 (525, 183, 2229),
 (526, 37, 455),
 (527, 21, 219),
 (528, 120, 1495),
 (529, 270, 3388),
 (530, 183, 2231),
 (531, 215, 2663),
 (532, 8, 76),
 (533, 179, 2177),
 (534, 1, 10),
 (535, 83, 1033),
 (536, 183, 2233),
 (537, 152, 1860),
 (538, 183, 2232),
 (539, 256, 3284),
 (540, 322, 3477),
 (541, 36, 427),
 (542, 88, 1132),
 (543, 55, 707),
 (544, 215, 2652),
 (545, 135, 1649),
 (546, 146, 1788),
 (547, 322, 3469),
 (548, 118, 1457),
 (549, 258, 3303),
 (550, 88, 1131),
 (551, 88, 1132),
 (552, 234, 2960),
 (553, 189, 2304),
 (554, 77, 968),
 (555, 141, 2227),
 (556, 200, 2471),
 (557, 73, 922),
 (558, 321, 3458),
 (559, 221, 2742),
 (560, 119, 1475),
 (561, 120, 1495),
 (562, 9, 80),
 (563, 236, 2981),
 (564, 222, 2759),
 (565, 35, 411),
 (566, 240, 3031),
 (567, 36, 432),
 (568, 49, 615),
 (569, 1, 6),
 (570, 146, 1780),
 (571, 216, 2675),
 (572, 147, 1797),
 (573, 246, 3108),
 (574, 206, 2544),
 (575, 132, 1620),
 (576, 43, 548),
 (577, 80, 1004),
 (578, 216, 2675),
 (579, 83, 1040),
 (580, 36, 427),
 (581, 270, 3388),
 (582, 72, 908),
 (583, 322, 3477),
 (584, 234, 2962),
 (585, 17, 157),
 (586, 61, 771),
 (587, 10, 94),
 (588, 4, 18),
 (589, 186, 2281),
 (590, 109, 1370),
 (591, 42, 540),
 (592, 38, 465),
 (593, 16, 153),
 (594, 89, 1140),
 (595, 20, 202),
 (596, 79, 997),
 (597, 6, 47),
 (598, 270, 3387),
 (599, 7, 54),
 (600, 80, 1006),
 (601, 48, 599),
 (602, 218, 2693),
 (603, 39, 481),
 (604, 145, 1772),
 (605, 92, 1178),
 (606, 164, 2014),
 (607, 207, 2561),
 (608, 242, 3060),
 (609, 134, 1636),
 (610, 144, 1746),
 (611, 7, 57),
 (612, 182, 2215),
 (613, 157, 1915),
 (614, 215, 2663)]

In [10]:
%%sql

SELECT 
    ait.invoice_id,
    ait.album_id,
    CASE
        WHEN
            (
                (
                SELECT inv_l.track_id FROM invoice_line inv_l
                WHERE inv_l.invoice_id = ait.invoice_id
            
                EXCEPT
                
                SELECT t.track_id FROM track t
                WHERE t.album_id = ait.album_id
                )
                
                    AND
                
                (
                SELECT t.track_id FROM track t
                WHERE t.album_id = ait.album_id
                EXCEPT
                
                SELECT inv_l.track_id FROM invoice_line inv_l
                WHERE inv_l.invoice_id = ait.invoice_id
                )    
            ) IS NULL THEN "Album Purchase"
        ELSE "Not Album Purchase"
    END Type_of_purchase
FROM alb_inv_track ait
GROUP BY ait.invoice_id
ORDER BY ait.invoice_id
;

Done.

[(1, 91, 'Album Purchase'),
 (2, 215, 'Not Album Purchase'),
 (3, 214, 'Not Album Purchase'),
 (4, 203, 'Not Album Purchase'),
 (5, 163, 'Album Purchase'),
 (6, 5, 'Not Album Purchase'),
 (7, 6, 'Not Album Purchase'),
 (8, 125, 'Not Album Purchase'),
 (9, 20, 'Not Album Purchase'),
 (10, 257, 'Not Album Purchase'),
 (11, 115, 'Not Album Purchase'),
 (12, 10, 'Not Album Purchase'),
 (13, 206, 'Album Purchase'),
 (14, 42, 'Album Purchase'),
 (15, 65, 'Not Album Purchase'),
 (16, 4, 'Not Album Purchase'),
 (17, 115, 'Not Album Purchase'),
 (18, 221, 'Not Album Purchase'),
 (19, 203, 'Not Album Purchase'),
 (20, 257, 'Not Album Purchase'),
 (21, 207, 'Not Album Purchase'),
 (22, 33, 'Not Album Purchase'),
 (23, 1, 'Album Purchase'),
 (24, 90, 'Album Purchase'),
 (25, 119, 'Not Album Purchase'),
 (26, 10, 'Not Album Purchase'),
 (27, 246, 'Not Album Purchase'),
 (28, 74, 'Not Album Purchase'),
 (29, 39, 'Not Album Purchase'),
 (30, 321, 'Not Album Purchase'),
 (31, 221, 'Album Purchase'),
 (32, 6, 'Album Purchase'),
 (33, 218, 'Not Album Purchase'),
 (34, 49, 'Album Purchase'),
 (35, 322, 'Not Album Purchase'),
 (36, 91, 'Not Album Purchase'),
 (37, 145, 'Not Album Purchase'),
 (38, 119, 'Not Album Purchase'),
 (39, 203, 'Not Album Purchase'),
 (40, 183, 'Not Album Purchase'),
 (41, 61, 'Not Album Purchase'),
 (42, 16, 'Not Album Purchase'),
 (43, 163, 'Not Album Purchase'),
 (44, 242, 'Album Purchase'),
 (45, 150, 'Not Album Purchase'),
 (46, 214, 'Album Purchase'),
 (47, 1, 'Not Album Purchase'),
 (48, 7, 'Not Album Purchase'),
 (49, 15, 'Not Album Purchase'),
 (50, 321, 'Not Album Purchase'),
 (51, 5, 'Not Album Purchase'),
 (52, 216, 'Album Purchase'),
 (53, 151, 'Not Album Purchase'),
 (54, 146, 'Album Purchase'),
 (55, 39, 'Not Album Purchase'),
 (56, 185, 'Album Purchase'),
 (57, 233, 'Album Purchase'),
 (58, 144, 'Not Album Purchase'),
 (59, 271, 'Not Album Purchase'),
 (60, 6, 'Not Album Purchase'),
 (61, 212, 'Album Purchase'),
 (62, 217, 'Not Album Purchase'),
 (63, 1, 'Not Album Purchase'),
 (64, 6, 'Album Purchase'),
 (65, 42, 'Not Album Purchase'),
 (66, 191, 'Not Album Purchase'),
 (67, 69, 'Not Album Purchase'),
 (68, 163, 'Not Album Purchase'),
 (69, 10, 'Album Purchase'),
 (70, 189, 'Album Purchase'),
 (71, 185, 'Album Purchase'),
 (72, 136, 'Not Album Purchase'),
 (73, 195, 'Album Purchase'),
 (74, 244, 'Not Album Purchase'),
 (75, 96, 'Not Album Purchase'),
 (76, 82, 'Album Purchase'),
 (77, 4, 'Album Purchase'),
 (78, 238, 'Not Album Purchase'),
 (79, 157, 'Album Purchase'),
 (80, 271, 'Album Purchase'),
 (81, 243, 'Not Album Purchase'),
 (82, 7, 'Not Album Purchase'),
 (83, 237, 'Not Album Purchase'),
 (84, 321, 'Album Purchase'),
 (85, 162, 'Not Album Purchase'),
 (86, 188, 'Album Purchase'),
 (87, 88, 'Not Album Purchase'),
 (88, 211, 'Not Album Purchase'),
 (89, 156, 'Not Album Purchase'),
 (90, 207, 'Album Purchase'),
 (91, 149, 'Not Album Purchase'),
 (92, 115, 'Album Purchase'),
 (93, 82, 'Not Album Purchase'),
 (94, 211, 'Not Album Purchase'),
 (95, 191, 'Not Album Purchase'),
 (96, 37, 'Not Album Purchase'),
 (97, 37, 'Not Album Purchase'),
 (98, 185, 'Not Album Purchase'),
 (99, 211, 'Album Purchase'),
 (100, 120, 'Not Album Purchase'),
 (101, 185, 'Not Album Purchase'),
 (102, 206, 'Not Album Purchase'),
 (103, 82, 'Not Album Purchase'),
 (104, 122, 'Not Album Purchase'),
 (105, 112, 'Not Album Purchase'),
 (106, 39, 'Not Album Purchase'),
 (107, 88, 'Not Album Purchase'),
 (108, 221, 'Not Album Purchase'),
 (109, 194, 'Not Album Purchase'),
 (110, 183, 'Not Album Purchase'),
 (111, 6, 'Not Album Purchase'),
 (112, 120, 'Album Purchase'),
 (113, 244, 'Not Album Purchase'),
 (114, 120, 'Album Purchase'),
 (115, 9, 'Not Album Purchase'),
 (116, 185, 'Not Album Purchase'),
 (117, 49, 'Not Album Purchase'),
 (118, 246, 'Album Purchase'),
 (119, 203, 'Not Album Purchase'),
 (120, 192, 'Not Album Purchase'),
 (121, 5, 'Not Album Purchase'),
 (122, 93, 'Not Album Purchase'),
 (123, 164, 'Album Purchase'),
 (124, 149, 'Not Album Purchase'),
 (125, 20, 'Not Album Purchase'),
 (126, 203, 'Not Album Purchase'),
 (127, 120, 'Not Album Purchase'),
 (128, 67, 'Not Album Purchase'),
 (129, 127, 'Not Album Purchase'),
 (130, 178, 'Not Album Purchase'),
 (131, 136, 'Not Album Purchase'),
 (132, 221, 'Not Album Purchase'),
 (133, 35, 'Not Album Purchase'),
 (134, 23, 'Not Album Purchase'),
 (135, 95, 'Not Album Purchase'),
 (136, 91, 'Not Album Purchase'),
 (137, 6, 'Not Album Purchase'),
 (138, 186, 'Album Purchase'),
 (139, 214, 'Not Album Purchase'),
 (140, 108, 'Not Album Purchase'),
 (141, 213, 'Album Purchase'),
 (142, 5, 'Album Purchase'),
 (143, 211, 'Not Album Purchase'),
 (144, 17, 'Not Album Purchase'),
 (145, 255, 'Not Album Purchase'),
 (146, 119, 'Album Purchase'),
 (147, 206, 'Not Album Purchase'),
 (148, 321, 'Not Album Purchase'),
 (149, 90, 'Not Album Purchase'),
 (150, 82, 'Not Album Purchase'),
 (151, 147, 'Not Album Purchase'),
 (152, 118, 'Not Album Purchase'),
 (153, 196, 'Album Purchase'),
 (154, 214, 'Not Album Purchase'),
 (155, 125, 'Not Album Purchase'),
 (156, 155, 'Album Purchase'),
 (158, 92, 'Not Album Purchase'),
 (159, 242, 'Not Album Purchase'),
 (160, 196, 'Not Album Purchase'),
 (161, 321, 'Not Album Purchase'),
 (162, 258, 'Not Album Purchase'),
 (163, 215, 'Not Album Purchase'),
 (164, 73, 'Not Album Purchase'),
 (165, 89, 'Not Album Purchase'),
 (166, 214, 'Not Album Purchase'),
 (167, 160, 'Not Album Purchase'),
 (168, 7, 'Not Album Purchase'),
 (169, 321, 'Not Album Purchase'),
 (170, 185, 'Not Album Purchase'),
 (171, 119, 'Album Purchase'),
 (172, 224, 'Not Album Purchase'),
 (173, 188, 'Album Purchase'),
 (174, 37, 'Not Album Purchase'),
 (175, 145, 'Album Purchase'),
 (176, 73, 'Not Album Purchase'),
 (177, 256, 'Not Album Purchase'),
 (179, 73, 'Not Album Purchase'),
 (180, 90, 'Not Album Purchase'),
 (181, 125, 'Not Album Purchase'),
 (182, 157, 'Not Album Purchase'),
 (183, 83, 'Album Purchase'),
 (185, 207, 'Not Album Purchase'),
 (186, 257, 'Not Album Purchase'),
 (187, 182, 'Not Album Purchase'),
 (188, 118, 'Album Purchase'),
 (189, 214, 'Not Album Purchase'),
 (190, 67, 'Not Album Purchase'),
 (191, 120, 'Not Album Purchase'),
 (192, 214, 'Not Album Purchase'),
 (193, 207, 'Not Album Purchase'),
 (194, 119, 'Album Purchase'),
 (195, 210, 'Not Album Purchase'),
 (196, 105, 'Album Purchase'),
 (197, 216, 'Not Album Purchase'),
 (198, 185, 'Not Album Purchase'),
 (199, 194, 'Not Album Purchase'),
 (200, 4, 'Album Purchase'),
 (201, 257, 'Album Purchase'),
 (202, 211, 'Not Album Purchase'),
 (203, 4, 'Not Album Purchase'),
 (204, 163, 'Not Album Purchase'),
 (205, 150, 'Album Purchase'),
 (206, 89, 'Not Album Purchase'),
 (207, 88, 'Not Album Purchase'),
 (208, 18, 'Not Album Purchase'),
 (209, 188, 'Not Album Purchase'),
 (210, 63, 'Not Album Purchase'),
 (211, 125, 'Not Album Purchase'),
 (212, 88, 'Album Purchase'),
 (213, 186, 'Album Purchase'),
 (214, 88, 'Not Album Purchase'),
 (215, 81, 'Not Album Purchase'),
 (216, 211, 'Not Album Purchase'),
 (217, 207, 'Album Purchase'),
 (218, 164, 'Not Album Purchase'),
 (219, 72, 'Not Album Purchase'),
 (220, 144, 'Album Purchase'),
 (221, 257, 'Not Album Purchase'),
 (222, 216, 'Not Album Purchase'),
 (223, 213, 'Album Purchase'),
 (224, 150, 'Not Album Purchase'),
 (225, 82, 'Not Album Purchase'),
 (226, 321, 'Not Album Purchase'),
 (227, 39, 'Not Album Purchase'),
 (228, 54, 'Not Album Purchase'),
 (229, 67, 'Not Album Purchase'),
 (230, 4, 'Album Purchase'),
 (231, 16, 'Not Album Purchase'),
 (232, 1, 'Not Album Purchase'),
 (233, 216, 'Not Album Purchase'),
 (234, 207, 'Album Purchase'),
 (235, 181, 'Not Album Purchase'),
 (236, 257, 'Not Album Purchase'),
 (237, 194, 'Album Purchase'),
 (238, 186, 'Album Purchase'),
 (239, 185, 'Album Purchase'),
 (240, 164, 'Not Album Purchase'),
 (241, 188, 'Not Album Purchase'),
 (242, 118, 'Not Album Purchase'),
 (243, 246, 'Not Album Purchase'),
 (244, 214, 'Not Album Purchase'),
 (245, 203, 'Not Album Purchase'),
 (246, 207, 'Not Album Purchase'),
 (247, 214, 'Album Purchase'),
 (248, 67, 'Not Album Purchase'),
 (249, 160, 'Not Album Purchase'),
 (250, 241, 'Not Album Purchase'),
 (251, 7, 'Not Album Purchase'),
 (252, 1, 'Not Album Purchase'),
 (253, 88, 'Album Purchase'),
 (254, 125, 'Not Album Purchase'),
 (255, 258, 'Not Album Purchase'),
 (256, 126, 'Not Album Purchase'),
 (257, 188, 'Album Purchase'),
 (258, 163, 'Album Purchase'),
 (259, 244, 'Not Album Purchase'),
 (260, 215, 'Not Album Purchase'),
 (261, 88, 'Not Album Purchase'),
 (262, 9, 'Album Purchase'),
 (263, 194, 'Not Album Purchase'),
 (264, 92, 'Album Purchase'),
 (265, 185, 'Not Album Purchase'),
 (266, 91, 'Not Album Purchase'),
 (267, 241, 'Not Album Purchase'),
 (268, 58, 'Not Album Purchase'),
 (269, 141, 'Album Purchase'),
 (270, 6, 'Not Album Purchase'),
 (271, 186, 'Album Purchase'),
 (272, 211, 'Not Album Purchase'),
 (273, 120, 'Album Purchase'),
 (274, 218, 'Not Album Purchase'),
 (275, 271, 'Not Album Purchase'),
 (276, 258, 'Album Purchase'),
 (277, 197, 'Not Album Purchase'),
 (278, 119, 'Not Album Purchase'),
 (279, 214, 'Not Album Purchase'),
 (280, 244, 'Album Purchase'),
 (281, 157, 'Album Purchase'),
 (282, 72, 'Album Purchase'),
 (283, 91, 'Not Album Purchase'),
 (284, 20, 'Album Purchase'),
 (285, 183, 'Not Album Purchase'),
 (286, 234, 'Not Album Purchase'),
 (287, 180, 'Not Album Purchase'),
 (288, 321, 'Not Album Purchase'),
 (289, 88, 'Not Album Purchase'),
 (290, 37, 'Not Album Purchase'),
 (291, 206, 'Not Album Purchase'),
 (292, 207, 'Not Album Purchase'),
 (293, 146, 'Not Album Purchase'),
 (294, 16, 'Not Album Purchase'),
 (295, 120, 'Album Purchase'),
 (296, 119, 'Album Purchase'),
 (297, 182, 'Not Album Purchase'),
 (298, 5, 'Not Album Purchase'),
 (299, 108, 'Not Album Purchase'),
 (300, 7, 'Album Purchase'),
 (301, 183, 'Not Album Purchase'),
 (302, 211, 'Not Album Purchase'),
 (303, 6, 'Not Album Purchase'),
 (304, 120, 'Not Album Purchase'),
 (305, 180, 'Album Purchase'),
 (306, 79, 'Not Album Purchase'),
 (307, 6, 'Not Album Purchase'),
 (308, 235, 'Album Purchase'),
 (309, 91, 'Not Album Purchase'),
 (310, 203, 'Not Album Purchase'),
 (311, 189, 'Not Album Purchase'),
 (312, 195, 'Not Album Purchase'),
 (313, 206, 'Not Album Purchase'),
 (314, 5, 'Not Album Purchase'),
 (315, 118, 'Not Album Purchase'),
 (316, 83, 'Not Album Purchase'),
 (317, 257, 'Album Purchase'),
 (318, 217, 'Not Album Purchase'),
 (319, 7, 'Not Album Purchase'),
 (320, 259, 'Album Purchase'),
 (321, 211, 'Album Purchase'),
 (322, 85, 'Not Album Purchase'),
 (323, 119, 'Not Album Purchase'),
 (324, 17, 'Not Album Purchase'),
 (325, 215, 'Not Album Purchase'),
 (326, 42, 'Not Album Purchase'),
 (327, 64, 'Not Album Purchase'),
 (328, 121, 'Not Album Purchase'),
 (329, 257, 'Album Purchase'),
 (330, 89, 'Album Purchase'),
 (331, 5, 'Not Album Purchase'),
 (332, 190, 'Not Album Purchase'),
 (333, 178, 'Not Album Purchase'),
 (334, 160, 'Album Purchase'),
 (335, 195, 'Album Purchase'),
 (336, 193, 'Album Purchase'),
 (337, 121, 'Not Album Purchase'),
 (338, 245, 'Not Album Purchase'),
 (339, 112, 'Not Album Purchase'),
 (340, 155, 'Not Album Purchase'),
 (341, 123, 'Album Purchase'),
 (342, 182, 'Not Album Purchase'),
 (343, 162, 'Not Album Purchase'),
 (344, 120, 'Album Purchase'),
 (345, 248, 'Not Album Purchase'),
 (346, 16, 'Not Album Purchase'),
 (347, 125, 'Not Album Purchase'),
 (348, 47, 'Not Album Purchase'),
 (349, 141, 'Album Purchase'),
 (350, 214, 'Not Album Purchase'),
 (351, 222, 'Not Album Purchase'),
 (352, 198, 'Album Purchase'),
 (353, 119, 'Not Album Purchase'),
 (354, 116, 'Not Album Purchase'),
 (355, 207, 'Not Album Purchase'),
 (356, 39, 'Not Album Purchase'),
 (357, 81, 'Not Album Purchase'),
 (358, 121, 'Not Album Purchase'),
 (359, 125, 'Not Album Purchase'),
 (360, 193, 'Not Album Purchase'),
 (361, 163, 'Not Album Purchase'),
 (362, 55, 'Album Purchase'),
 (363, 36, 'Not Album Purchase'),
 (364, 21, 'Not Album Purchase'),
 (365, 17, 'Not Album Purchase'),
 (366, 66, 'Not Album Purchase'),
 (367, 16, 'Not Album Purchase'),
 (368, 76, 'Not Album Purchase'),
 (369, 41, 'Not Album Purchase'),
 (370, 73, 'Not Album Purchase'),
 (371, 196, 'Album Purchase'),
 (372, 42, 'Album Purchase'),
 (373, 14, 'Not Album Purchase'),
 (374, 39, 'Not Album Purchase'),
 (375, 100, 'Album Purchase'),
 (376, 55, 'Not Album Purchase'),
 (377, 211, 'Not Album Purchase'),
 (378, 203, 'Not Album Purchase'),
 (379, 206, 'Album Purchase'),
 (380, 163, 'Not Album Purchase'),
 (381, 89, 'Album Purchase'),
 (382, 189, 'Not Album Purchase'),
 (383, 89, 'Not Album Purchase'),
 (384, 183, 'Not Album Purchase'),
 (385, 16, 'Not Album Purchase'),
 (386, 116, 'Not Album Purchase'),
 (387, 213, 'Not Album Purchase'),
 (388, 80, 'Album Purchase'),
 (389, 243, 'Album Purchase'),
 (390, 193, 'Not Album Purchase'),
 (391, 110, 'Not Album Purchase'),
 (392, 152, 'Album Purchase'),
 (393, 321, 'Not Album Purchase'),
 (394, 217, 'Not Album Purchase'),
 (395, 255, 'Not Album Purchase'),
 (396, 322, 'Not Album Purchase'),
 (397, 146, 'Not Album Purchase'),
 (398, 203, 'Album Purchase'),
 (399, 90, 'Album Purchase'),
 (400, 247, 'Not Album Purchase'),
 (401, 256, 'Not Album Purchase'),
 (402, 140, 'Not Album Purchase'),
 (403, 181, 'Not Album Purchase'),
 (404, 92, 'Album Purchase'),
 (405, 212, 'Not Album Purchase'),
 (406, 183, 'Not Album Purchase'),
 (407, 182, 'Album Purchase'),
 (408, 83, 'Not Album Purchase'),
 (409, 216, 'Not Album Purchase'),
 (410, 14, 'Not Album Purchase'),
 (411, 92, 'Not Album Purchase'),
 (412, 196, 'Not Album Purchase'),
 (413, 218, 'Album Purchase'),
 (414, 1, 'Album Purchase'),
 (415, 214, 'Not Album Purchase'),
 (416, 83, 'Album Purchase'),
 (417, 36, 'Not Album Purchase'),
 (418, 222, 'Album Purchase'),
 (419, 203, 'Not Album Purchase'),
 (420, 80, 'Album Purchase'),
 (421, 79, 'Not Album Purchase'),
 (422, 9, 'Not Album Purchase'),
 (423, 1, 'Not Album Purchase'),
 (424, 120, 'Not Album Purchase'),
 (425, 120, 'Album Purchase'),
 (426, 207, 'Not Album Purchase'),
 (427, 5, 'Album Purchase'),
 (428, 128, 'Not Album Purchase'),
 (429, 270, 'Not Album Purchase'),
 (430, 214, 'Not Album Purchase'),
 (431, 116, 'Not Album Purchase'),
 (432, 10, 'Not Album Purchase'),
 (433, 46, 'Not Album Purchase'),
 (434, 257, 'Not Album Purchase'),
 (435, 72, 'Not Album Purchase'),
 (436, 195, 'Not Album Purchase'),
 (437, 136, 'Not Album Purchase'),
 (438, 151, 'Not Album Purchase'),
 (439, 115, 'Not Album Purchase'),
 (440, 214, 'Not Album Purchase'),
 (441, 85, 'Not Album Purchase'),
 (442, 175, 'Not Album Purchase'),
 (443, 216, 'Not Album Purchase'),
 (444, 183, 'Album Purchase'),
 (445, 174, 'Not Album Purchase'),
 (446, 1, 'Album Purchase'),
 (447, 188, 'Album Purchase'),
 (448, 207, 'Not Album Purchase'),
 (449, 120, 'Album Purchase'),
 (450, 46, 'Not Album Purchase'),
 (451, 241, 'Album Purchase'),
 (452, 214, 'Not Album Purchase'),
 (453, 73, 'Not Album Purchase'),
 (454, 163, 'Album Purchase'),
 (455, 132, 'Not Album Purchase'),
 (456, 233, 'Not Album Purchase'),
 (457, 126, 'Album Purchase'),
 (458, 322, 'Album Purchase'),
 (459, 163, 'Not Album Purchase'),
 (460, 141, 'Not Album Purchase'),
 (461, 241, 'Not Album Purchase'),
 (462, 37, 'Not Album Purchase'),
 (463, 6, 'Album Purchase'),
 (464, 6, 'Not Album Purchase'),
 (465, 16, 'Album Purchase'),
 (466, 213, 'Not Album Purchase'),
 (467, 39, 'Not Album Purchase'),
 (468, 178, 'Album Purchase'),
 (469, 183, 'Album Purchase'),
 (470, 10, 'Not Album Purchase'),
 (471, 193, 'Album Purchase'),
 (472, 214, 'Not Album Purchase'),
 (473, 218, 'Not Album Purchase'),
 (474, 67, 'Not Album Purchase'),
 (475, 183, 'Not Album Purchase'),
 (476, 65, 'Not Album Purchase'),
 (477, 54, 'Not Album Purchase'),
 (478, 120, 'Album Purchase'),
 (479, 36, 'Album Purchase'),
 (480, 185, 'Not Album Purchase'),
 (481, 61, 'Not Album Purchase'),
 (482, 215, 'Not Album Purchase'),
 (483, 270, 'Not Album Purchase'),
 (484, 188, 'Not Album Purchase'),
 (485, 116, 'Album Purchase'),
 (486, 246, 'Not Album Purchase'),
 (487, 162, 'Not Album Purchase'),
 (488, 157, 'Album Purchase'),
 (489, 195, 'Not Album Purchase'),
 (490, 116, 'Not Album Purchase'),
 (491, 241, 'Not Album Purchase'),
 (492, 42, 'Not Album Purchase'),
 (493, 67, 'Not Album Purchase'),
 (494, 257, 'Album Purchase'),
 (495, 81, 'Album Purchase'),
 (496, 1, 'Album Purchase'),
 (497, 89, 'Not Album Purchase'),
 (498, 146, 'Not Album Purchase'),
 (499, 81, 'Album Purchase'),
 (500, 39, 'Not Album Purchase'),
 (501, 119, 'Album Purchase'),
 (502, 183, 'Not Album Purchase'),
 (503, 38, 'Not Album Purchase'),
 (504, 259, 'Not Album Purchase'),
 (506, 120, 'Album Purchase'),
 (507, 9, 'Album Purchase'),
 (508, 322, 'Not Album Purchase'),
 (509, 203, 'Not Album Purchase'),
 (510, 188, 'Album Purchase'),
 (511, 16, 'Album Purchase'),
 (512, 65, 'Album Purchase'),
 (513, 83, 'Not Album Purchase'),
 (514, 92, 'Not Album Purchase'),
 (515, 218, 'Not Album Purchase'),
 (516, 83, 'Not Album Purchase'),
 (517, 37, 'Not Album Purchase'),
 (518, 125, 'Not Album Purchase'),
 (519, 67, 'Not Album Purchase'),
 (520, 4, 'Not Album Purchase'),
 (521, 79, 'Not Album Purchase'),
 (522, 246, 'Not Album Purchase'),
 (523, 321, 'Not Album Purchase'),
 (524, 73, 'Not Album Purchase'),
 (525, 183, 'Not Album Purchase'),
 (526, 37, 'Album Purchase'),
 (527, 21, 'Not Album Purchase'),
 (528, 120, 'Album Purchase'),
 (529, 270, 'Album Purchase'),
 (530, 183, 'Album Purchase'),
 (531, 215, 'Album Purchase'),
 (532, 8, 'Album Purchase'),
 (533, 179, 'Album Purchase'),
 (534, 1, 'Not Album Purchase'),
 (535, 83, 'Album Purchase'),
 (536, 183, 'Not Album Purchase'),
 (537, 152, 'Album Purchase'),
 (538, 183, 'Not Album Purchase'),
 (539, 256, 'Album Purchase'),
 (540, 322, 'Album Purchase'),
 (541, 36, 'Not Album Purchase'),
 (542, 88, 'Album Purchase'),
 (543, 55, 'Not Album Purchase'),
 (544, 215, 'Not Album Purchase'),
 (545, 135, 'Not Album Purchase'),
 (546, 146, 'Not Album Purchase'),
 (547, 322, 'Not Album Purchase'),
 (548, 118, 'Not Album Purchase'),
 (549, 258, 'Not Album Purchase'),
 (550, 88, 'Album Purchase'),
 (551, 88, 'Album Purchase'),
 (552, 234, 'Not Album Purchase'),
 (553, 189, 'Not Album Purchase'),
 (554, 77, 'Not Album Purchase'),
 (555, 141, 'Not Album Purchase'),
 (556, 200, 'Album Purchase'),
 (557, 73, 'Not Album Purchase'),
 (558, 321, 'Not Album Purchase'),
 (559, 221, 'Not Album Purchase'),
 (560, 119, 'Not Album Purchase'),
 (561, 120, 'Not Album Purchase'),
 (562, 9, 'Not Album Purchase'),
 (563, 236, 'Not Album Purchase'),
 (564, 222, 'Not Album Purchase'),
 (565, 35, 'Not Album Purchase'),
 (566, 240, 'Not Album Purchase'),
 (567, 36, 'Not Album Purchase'),
 (568, 49, 'Not Album Purchase'),
 (569, 1, 'Album Purchase'),
 (570, 146, 'Not Album Purchase'),
 (571, 216, 'Not Album Purchase'),
 (572, 147, 'Not Album Purchase'),
 (573, 246, 'Not Album Purchase'),
 (574, 206, 'Not Album Purchase'),
 (575, 132, 'Not Album Purchase'),
 (576, 43, 'Not Album Purchase'),
 (577, 80, 'Not Album Purchase'),
 (578, 216, 'Album Purchase'),
 (579, 83, 'Not Album Purchase'),
 (580, 36, 'Not Album Purchase'),
 (581, 270, 'Album Purchase'),
 (582, 72, 'Album Purchase'),
 (583, 322, 'Album Purchase'),
 (584, 234, 'Album Purchase'),
 (585, 17, 'Not Album Purchase'),
 (586, 61, 'Not Album Purchase'),
 (587, 10, 'Not Album Purchase'),
 (588, 4, 'Album Purchase'),
 (589, 186, 'Album Purchase'),
 (590, 109, 'Album Purchase'),
 (591, 42, 'Not Album Purchase'),
 (592, 38, 'Not Album Purchase'),
 (593, 16, 'Not Album Purchase'),
 (594, 89, 'Not Album Purchase'),
 (595, 20, 'Not Album Purchase'),
 (596, 79, 'Not Album Purchase'),
 (597, 6, 'Not Album Purchase'),
 (598, 270, 'Not Album Purchase'),
 (599, 7, 'Not Album Purchase'),
 (600, 80, 'Not Album Purchase'),
 (601, 48, 'Not Album Purchase'),
 (602, 218, 'Not Album Purchase'),
 (603, 39, 'Not Album Purchase'),
 (604, 145, 'Album Purchase'),
 (605, 92, 'Not Album Purchase'),

Here we can see which invoices were an album purchase.

In [11]:
%%sql
SELECT Type_of_purchase,
COUNT(*) Ammount_of_invoice,
ROUND( CAST(COUNT(*) AS FLOAT)  /  CAST(
                                        (
                                        SELECT COUNT(invoice_id)
                                        FROM alb_inv_track
                                        ) 
                               AS FLOAT)
, 2)Percentage_of_invoice
FROM 
    (
    SELECT
     CASE
        WHEN
            (
                (
                SELECT inv_l.track_id FROM invoice_line inv_l
                WHERE inv_l.invoice_id = ait.invoice_id
            
                EXCEPT
                
                SELECT t.track_id FROM track t
                WHERE t.album_id = ait.album_id
                )
                
                    AND
                
                (
                SELECT t.track_id FROM track t
                WHERE t.album_id = ait.album_id
                EXCEPT
                
                SELECT inv_l.track_id FROM invoice_line inv_l
                WHERE inv_l.invoice_id = ait.invoice_id
                )    
            ) IS NULL THEN "Album Purchase"
        ELSE "Not Album Purchase"
    END Type_of_purchase
    FROM alb_inv_track ait
    )
GROUP BY Type_of_purchase;

Done.

[('Album Purchase', 167, 0.27), ('Not Album Purchase', 443, 0.73)]

We updated the code to have the previous results as FROM. In this way we can perform actions like COUNT to help us get more detailed information like the percentage of invoices that were album purchases.

Here we can see that almost 3/4 of the customers do not seems to purchase music track per whole album. The shop should be better buying track individually, like for example, only the most famous tracks per album.